@model SistemaGestionEventos.Models.Lugar

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle del Lugar</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tieneEscaleras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tieneEscaleras)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLugar">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
