@model SistemaGestionEventos.Models.Personal

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle del Personal</h1>

<div>
    <hr />
    <dl class="row details">
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
        </div>
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Apellido)
            </dd>
        </div>
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Telefono)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Telefono)
            </dd>
        </div>
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EsPersonalTecnico)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EsPersonalTecnico)
            </dd>
        </div>
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.EsPersonalFlete)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EsPersonalFlete)
            </dd>
        </div>
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Especializacion)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Especializacion)
            </dd>
        </div>
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Patente)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Patente)
            </dd>
        </div>
        <div class="item-detalle">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TamanioFlete)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TamanioFlete)
            </dd>
        </div>
    </dl>
</div>
<div class="btn-detail">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.IdPersonal">Editar</a>
    <a class="btn btn-secondary" asp-action="Index">Volver</a>
</div>
