@model IEnumerable<SistemaGestionEventos.Models.EventoPersonal>

@{
    ViewData["Title"] = "Listado";
}

<h1>Lista de Personal en Eventos</h1>

<p>
    <a asp-action="CreateForEvent">Cargar Personal a un Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Evento.Descripcion)
                </td>
                <td>
                    @item.Personal.Nombre @item.Personal.Apellido
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdEventoPersonal">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEventoPersonal">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
