@model IEnumerable<SistemaGestionEventos.Models.EventoPersonal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Personal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.IdEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personal.IdPersonal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEventoPersonal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEventoPersonal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEventoPersonal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
